---
title: "Тайный Звонящий"
name: mystery-caller
nav_sort: 3
nav_groups:
- client
- clientSub
template: client.html
menuItems: "<li>Call-центры</li><li>Службы поддержки</li>"
headText: "<p>Как увеличить доход вашей компании на 30% без лишних затрат?<br>Мы поможем узнать достаточно ли хорошо ваши сотрудники общаются с клиентами. Если ваши сотрудники пользуются телефоном :)</p>"
---
<h2>Тайный Звонящий</h2>

<p>Улучшенная методика естественных звонков <strong>тайных звонящих</strong> (Mystery Caller) — позволяет оперативно оценивать работу менеджеров отделов продаж, консультантов интернет-магазинов, справочных и <span style="line-height: 20.7999992370605px;">абонентских </span>служб,  call-центров, служб технической поддержки клиентов и <span style="line-height: 20.7999992370605px;">послепродажного обслуживания </span>и не только. <strong>Тайные звонящие</strong> предоставят вам подробные отчёты по результатам проверки “Тайный звонящий” . Вы сможете выявить проблемные места и <span style="line-height: 20.7999992370605px;">правильно оценить качество работы консультантов</span>.</p>

<p>Наши телефонные агенты проходят <strong>специальное обучение</strong> и сдают тесты на соответствие стандартам Тайного Звонящего от MSP. </p>

<p><span style="line-height: 1.6em;">Хотите оценить соответствие внедренным стандартам вашей фирмы по телефонному обслуживании клиентов? </span></p>

<ul>
    <li><span style="line-height: 1.6em;">Первый контакт с клиентом. Анализ поведения; </span></li>
    <li><span style="line-height: 1.6em;">Поведение во время консультаций. Определение ошибок; </span></li>
    <li><span style="line-height: 1.6em;">Полнота и </span><span style="line-height: 20.7999992370605px;">профессионализм </span><span style="line-height: 1.6em;">консультаций; </span></li>
    <li><span style="line-height: 1.6em;">Завершающая стадия обслуживания; </span></li>
    <li><span style="line-height: 1.6em;">Повторные звонки;</span></li>
    <li><span style="line-height: 1.6em;">"Проблемный" клиент.</span></li>
</ul>

<p><span style="line-height: 1.6em;">Вы сами определяете критерии оценки которые вам нужны. Мы обеспечиваем своевременный и достоверный результат.</span></p>