---
title: "Тайный покупатель"
name: mystery-shopping
nav_sort: 1
nav_groups:
- client
- clientSub
template: client.html
menuItems: "<li>Автосалоны</li><li>Аптеки</li><li>Банки / финансовые учереждения</li><li>Государственные учреждения</li><li>Кафе / рестораны</li><li>Магазины одежды</li><li>Магазины техники</li><li>Медицинское обслуживание</li><li>Салоны красоты</li><li>Сети АЗС</li><li>Страховые компании</li><li>Супермаркеты, магазины</li><li>Сфера услуг</li><li>Услуги почты</li>"
headText: "<p>Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее — источник и размер дополнительного дохода теперь зависит только от вас. Наши преимущества — ваша выгода.</p>"
---
<h2>Тайный покупатель(mystery shopping)</h2>

<p>Тайный Покупатель - это специально подготовленный сотрудник компании MS, который проводит проверку непосредственно с розничной точки от лица потенциальных/реальных клиентов и подробно докладывает о результатах проверки. Полученная информация может использоваться для разработки методов улучшения сервиса и для материальной мотивации персонала, благодаря привязке уровня вознаграждения к уровню выполнения стандартов обслуживания.</p>

<p>Контрольная закупка — это мнимая сделка купли-продажи между организацией и физическим лицом с целью проверки соблюдения правил и качества предоставляемого сервиса.</p>