---
title: "Наши преимущества"
descr: "Преимущества cервиса Mystery Shopping Platform"
name: "benefits"
template: shopper.html
nav_sort: 1
nav_groups:
  - shopper
headText: "<p>Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее — источник и размер дополнительного дохода теперь зависит только от вас. Наши преимущества — ваша выгода.</p>"
---
<div class="container content">
    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            <span class="plugin_picture">

<img src="http://msp4.blob.core.windows.net/website-media/cms_page_media/3/more.gif" alt="more" />

</span>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            <h2>Идём напрямик</h2>

            <p>Никаких посредников между заказчиком и исполнителем. Наш сервис обеспечивает информационно-техническое и финансовое взаимодействие. Такой подход гарантирует прозрачную финансовую схему и мгновенную оплату после выполнения задания.</p>

        </div>
    </div>

    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            <span class="plugin_picture">

<img src="http://msp4.blob.core.windows.net/website-media/cms_page_media/3/earn_more.gif" alt="earn more" />

</span>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            <h2>Зарабатываем больше</h2>

            <p>Цены на задания формируется по рыночному принципу — вы самостоятельно устанавливайте стоимость работы. Поднимайте ставки! Демпингуйте! Так вы сможете получать больше денег за поход или, при необходимости, понижать стоимость для получения задания.</p>

        </div>
    </div>

    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            <span class="plugin_picture">

<img src="http://msp4.blob.core.windows.net/website-media/cms_page_media/3/rating.gif" alt="rating" />

</span>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            <h2>Каждому по рейтингу</h2>

            <p>Наши профессионалы всегда востребованы. Выполняйте задания, получайте хорошие оценки. Это позволит вам поднять стоимость вашей работы и участвовать в более сложных исследованиях. А рейтинг компаний даст вам возможность отсеять недобросовестных заказчиков.</p>

        </div>
    </div>

    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            <span class="plugin_picture">

<img src="http://msp4.blob.core.windows.net/website-media/cms_page_media/3/moment_paid.gif" alt="moment paid" />

</span>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            <h2>Моментальная оплата на пластиковую карту</h2>

            <p>Мы гарантируем оплату вашей работы. Вы можете выбрать удобный способ получения денег за выполненное задание. Электронный кошелек, пластиковая карта или пополнение счета мобильного оператора. Задержек с оплатой не будет :)</p>

        </div>
    </div>

</div>