{{#extend "layout"}}
{{#content "container"}}

<div class="container shopper">
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7">
            <h1>{{ title }}</h1>

            {{{ headText }}}
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 order-img">
            <img src="/assets/media/img/mystery/blog_header.png" class="img-responsive" alt="">
        </div>

    </div>
</div>


<div class="type">
    <div class="container">
        <div id="articl" class="row">

            {{#each navs.client}}
            {{#unless file}}
            {{#each children}}
            {{#if file}}
            <div class="col-xs-3 col-sm-3 col-md-3">
                <a href="{{relative_path @root.nav_path path}}"
                   class="{{isActive @root.name file.name 'largeMenu'}}">
                    <img src="/assets/media/img/top-submenu/our-services{{file.name}}_l.gif"
                         alt="{{file.title}}" title="{{file.title}}" width="72"
                         height="65" class="img-responsive">

                    <p {{isActive @root.name file.name 'largeMenuText'}}>{{file.title}}</p></a></div>
            {{/if}}
            {{/each}}
            {{/unless}}
            {{/each}}

        </div>
    </div>
</div>
<div class="shopper-page">
    <div class="container book_research">
        <div class="row becomeTP">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
                <div class="btn-wrap">
                    <a class="btn btn-lg btn-success" href="#" role="button" onclick="Zenbox.init({dropboxID:   '20289013'}); window.Zenbox.show(); return false;">Заказать исследование</a>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-7">

                <a class="btn-text" href="#" role="button"><h2>Посмотреть примеры исследований</h2></a>
            </div>
        </div>

        <div class="container content">
            <div class="row">
                <div class="col-sm-9">
                    {{{ contents }}}
                </div>
                <div class="col-sm-3">
                    <div style="margin-top: 0px;" class="right-sidebar services"><h3>Наши услуги</h3>
                        {{#each navs.clientSub}}
                        {{#unless file}}
                        {{#each children}}
                        {{#if file}}
                        <div class="right-sidebar-item {{isActive @root.name file.name 'subMenuText'}}">
                            <a href="{{relative_path @root.nav_path path}}">
                                <img src="/assets/media/img/submenu/our-services{{file.name}}.png" alt="{{file.title}}" title="{{file.title}}" width="18" height="18">
                                {{file.title}}</a>
                        </div>
                        {{/if}}
                        {{/each}}
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}