{{#extend "layout"}}
{{#content "container"}}
<div class="container">
    <div class="row shopper-page">
        <div class="row benefits" itemscope="Thing">
            <div id="headText" class="col-xs-8 col-sm-8 col-md-9">
                <h1>Зарабатывай с нами!</h1>

                <p>Дополнительный заработок в свободное время для всех.<br>
                    Обучаем тайных покупателей, предоставляем работу.<br>
                    Начни прямо сейчас, повышай уровень — повышай доход!</p>

            </div>
            <div class="benefits-picture col-xs-4 col-sm-4 col-md-3" id="headImg">


                <img itemprop="image" src="/assets/media/design-a/img/leg_clean_02_part.png" alt="foot"/>


            </div>
        </div>
    </div>
</div>


<div class="shopper-page">
    <div class="benefitsLinks text">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ">
                    <h3 class="leftCol">Условия работы</h3>

                    <ul>
                        <li>мы предоставляем список заданий в вашем городе</li>
                        <li>вы выполняете подходящее для вас задание</li>
                        <li>заполняете отчет (анкета визита)</li>
                        <li>клиент принимает анкету — деньги зачисляются на ваш счет</li>
                        <li>все дополнительные затраты компенсируются</li>
                    </ul>

                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 ">
                    <h3>Тайные покупатели</h3>

                    <ul>
                        <li>проверяют качество клиентского сервиса</li>
                        <li>тестируют новые проекты в сфере обслуживания</li>
                        <li>выявляют недобросовестных сотрудников</li>
                        <li>совершенствуют навыки общения и артистизма</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container becomeBlock">
    <div class="row becomeTP">
        <!--<div class="col-sm-4 col-sm-offset-0 col-md-offset-0 col-md-4">-->
        <div class="col-xs-5">
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success buttonTry" id="signInButton" href="" role="button" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'button', 'click', 'become_tp');">
                    Попробовать сейчас!
                </a>
            </div>
        </div>
        <!--<div class="col-sm-6 col-sm-offset-0 col-md-offset-0 col-md-6">-->
        <div class="col-xs-6">
            <span class="action-subheader">
                регистрация через соцсети
            </span>
        </div>
    </div>
</div>
<div class="shopper-page">
    <div class="container content">

        <div class="row principles">
            <div class="col-xs-1 col-sm-1 col-md-1 firstBlock">
                <span class="plugin_picture">

<img src="/assets/media/design-a/img/directpath1.png" alt="стать тайным покупателем"
     title="Работа Тайный Покупатель что это"/>
</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h3>Идём напрямик</h3>

                <p>Никаких посредников между заказчиком и исполнителем. Наш сервис обеспечивает информационно-техническое и финансовое взаимодействие. Такой подход гарантирует прозрачную финансовую схему.</p>

            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
                <span class="plugin_picture">

                    <img src="/assets/media/design-a/img/msp4-money1.png" alt="тайный гость Россия"/>
                </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h3>Зарабатываем больше</h3>

                <p>Цены на задания формируются по рыночному принципу — вы самостоятельно устанавливаете стоимость работы. Поднимайте ставки! Демпингуйте!</p>

            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
            <span class="plugin_picture">

                <img src="/assets/media/design-a/img/reward1.png" alt="тайный гость Россия"/>
            </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h3>Каждому по рейтингу</h3>

                <p>Наши профессионалы всегда востребованы. Выполняйте задания, получайте хорошие оценки. Это позволит вам поднять стоимость вашей работы и участвовать в более сложных исследованиях.</p>

            </div>
        </div>
    </div>

    <div class="benefitsLinks">
        <div class="smallMenu container">
            <div class="row">

                {{#each navs.shopper}}
                                {{#if file}}
                                <div class="col-xs-3 col-sm-3 col-md-3 {{#if @first}}text-left{{else}}text-center{{/if}}">
                                    <a href="{{relative_path @root.nav_path path}}"
                                       class="sibling">
                                        <img src="/assets/media/img/menu/{{ file.name}}.gif"
                                             alt="{{ file.title }}" title="{{ file.title }}" width="38"
                                             height="39">

                                        <span>{{ file.title }} </span></a></div>
                                {{/if}}
                {{/each}}

                <div class="col-xs-3 col-sm-3 col-md-3 text-center">
                    <a href="/blog/"
                       class="sibling">
                        <img src="/assets/media/img/menu/blog.gif"
                             alt="Блог" title="Блог" width="38"
                             height="39">

                        <span>Блог</span></a></div>
            </div>
        </div>
    </div>

    <div class="container order">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1">
            <span class="plugin_picture">

<img src="/assets/media/img/mystery/order_mg.gif" alt="услуга тайный покупатель" />
</span>

            </div>
            <div class="col-xs-5 col-sm-5 col-md-5">
                <h1>Первое исследование бесплатно</h1>


            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 order-img">
            <span class="plugin_picture">

<img src="/assets/media/img/mystery/order_mg.gif" alt="проверка тайный покупатель" />

</span>

            </div>

        </div>
    </div> <!-- /container -->

    <div class="advantage">
        <div class="container">
            <div class="row advwrapper">
                <div class="row col-sm-6">
                    {{#each navs.client}}
                    {{#unless file}}
                    {{#each children}}
                    {{#if file}}
                        {{#if @first}}
                        <div class="row col-sm-3"><img src="/assets/media/img/top-submenu/our-services{{file.name}}_l.gif" alt="{{file.title}}"
                                                       width="75" height="68" class="img-responsive"></div>
                        <div class="col-sm-9">
                            <a href="{{relative_path @root.nav_path path}}"><h3>{{file.title}}</h3></a>
                            <ul>
                                {{{file.menuItems}}}
                            </ul>
                        </div>
                        {{/if}}
                    {{/if}}
                    {{/each}}
                    {{/unless}}
                    {{/each}}
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    {{#each navs.client}}
                    {{#unless file}}
                    {{#each children}}
                    {{#if file}}
                    {{#unless @first}}
                    <div class="row">
                        <div class="col-sm-3"><img
                                src="/assets/media/img/top-submenu/our-services{{file.name}}_l.gif" alt="{{file.title}}"
                                width="75"
                                height="68" class="img-responsive"></div>
                        <div class="col-sm-9">
                            <a href="{{relative_path @root.nav_path path}}"><h3>{{file.title}}</h3></a>
                            <ul>
                                {{{file.menuItems}}}
                            </ul>
                        </div>
                    </div>
                    {{/unless}}
                    {{/if}}
                    {{/each}}
                    {{/unless}}
                    {{/each}}
                </div>


            </div>
        </div>
    </div>

    <div class="container book_research">
        <div class="row becomeTP">
            <!--<div class="col-sm-11 col-sm-offset-1 col-md-offset-0 col-md-6">-->
            <div class="col-xs-5">

                <div class="btn-wrap">
                    <a class="btn btn-lg btn-success" href="#" onclick="Zenbox.init({dropboxID:   '20289013'}); window.Zenbox.show(); ga('send', 'event', 'button', 'click', 'order_research');
                return false;" role="button">Провести исследование</a>
                </div>
            </div>
            <!--<div class="col-sm-11 col-sm-offset-1 col-md-offset-0 col-md-6">-->
            <div class="col-xs-6">

                <!--<a class="btn-text" href="#" role="button">-->
                <span class="action-subheader" id="clients-action-btn">полный контроль и без посредников</span>

                <!--</a>-->
            </div>
        </div>
        <div class="row">


            <div class="row principles">
                <div class="col-xs-1 col-sm-1 col-md-1 firstBlock">
                <span class="plugin_picture">

                <img src="/assets/media/img/mystery/mystery1.png" alt="стать тайным покупателем"
                     title="Работа Тайный Покупатель что это"/>
                </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <h3>Опытные Тайные Покупатели</h3>

                    <p>Большая база опытных Тайных Покупателей. Представительство во всех регионах. Таргетинг Тайных Покупателей</p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
                <span class="plugin_picture">

                    <img src="/assets/media/img/mystery/foots1.png" alt="тайный гость Россия"/>
                </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <h3>Экономия и скорость</h3>

                    <p>Работа с Тайными Покупателями без посредников позволяет экономить до 60% средств. Приятные скидки для маркетологов.
                        Получение отчетов в течение 24-48-х часов после выполнения визита Тайных Покупателей</p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
            <span class="plugin_picture">

                <img src="/assets/media/img/mystery/foots1.png" alt="тайный гость Россия"/>
            </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <h3>Доступ и безопасность</h3>

                    <p>Защищенный доступ с любых устройств: ноутбуки, ПК, планшеты, смартфоны. Облачные технологии хранения данных на безопасных серверах</p>
                </div>
            </div>
            <div class="row principles second_line">
                <div class="col-xs-1 col-sm-1 col-md-1 firstBlock">
                <span class="plugin_picture">

                <img src="/assets/media/img/mystery/foots1.png" alt="стать тайным покупателем"
                     title="Работа Тайный Покупатель что это"/>
                </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <h3>Защита платежей</h3>
                    <p>Оплата Тайным Покупателям только после одобрения отчета. Прозрачная финансовая схема, без скрытых платежей</p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
                <span class="plugin_picture">

                    <img src="/assets/media/img/mystery/foots1.png" alt="тайный гость Россия"/>
                </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <h3>Шаблоны и индивидуальность</h3>
                    <p>Набор шаблонов исследований облегчает работу. Возможность создания исследования любой сложности. Текст, фото, аудио, видео</p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
            <span class="plugin_picture">

                <img src="/assets/media/img/mystery/foots1.png" alt="тайный гость Россия"/>
            </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <h3>Инструменты аналитики</h3>
                    <p>Аналитические графики, автоматический поиск “слабых” сторон, прогнозирование, рекомендации по улучшению</p>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <h3>Наши клиенты</h3>

            </div>

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://medtest.com.ua"><img src="/assets/media/img/mystery/medtest.png" class="img-responsive" alt="MedTest"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://cloud-europe.ru"><img src="/assets/media/img/mystery/doud.png" class="img-responsive doud" alt="doud-europe"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://libertyads.me"><img src="/assets/media/img/mystery/LibertyAds.png" class="img-responsive libertyImg" alt="LibertyAds"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://timedoctor.com.ua"><img src="/assets/media/img/mystery/TimeDoctor.png" class="img-responsive" alt="TimeDoctor"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}