{{#extend "layout"}}
{{#content "container"}}

<div class="container">
    <div class="row shopper-page">
        <div class="row benefits">
            <div id="headText" class="col-xs-8 col-sm-8 col-md-9">
                <h1>{{ title }}</h1>

                {{{ headText }}}

            </div>
            <div class="benefits-picture col-xs-4 col-sm-4 col-md-3" id="headImg">


                <img src="/assets/media/design-a/img/leg_clean_02_part.png" alt="foot"/>


            </div>
        </div>
    </div>
</div>


<div class="shopper-page">
    <div class="benefitsLinks">
        <div class="container">
            <div class="row">
                {{#each navs.shopper}}
                            {{#if file}}
                                <div class="col-xs-3 col-sm-3 col-md-2 {{#unless @first}}col-md-offset-1{{/unless}}">
                                    <a href="{{relative_path @root.nav_path path}}"
                                       class="{{isActive @root.name file.name 'largeMenu'}}">
                                        <img src="/assets/media/img/menu/{{ file.name}}.gif"
                                             alt="{{ file.title }}" title="{{ file.title }}" width="60"
                                             height="60">
                                        <p>{{ file.title }} </p>
                                    </a>
                                </div>
                            {{/if}}
                {{/each}}
                <div class="col-xs-3 col-sm-3 col-md-2 col-md-offset-1">
                    <a href="/blog/"
                       class="sibling">
                        <img src="/assets/media/img/menu/blog.gif"
                             alt="Блог" title="Блог" width="60"
                             height="60">

                        <p>Блог</p></a></div>

            </div>
        </div>
    </div>
</div>

<div class="container becomeBlock">
    <div class="row becomeTP">
        <div class="col-sm-5 col-sm-offset-0 col-md-offset-0 col-md-5">
            <!--<div class="col-xs-6">-->
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success buttonTry" id="signInButton" href="" role="button" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'button', 'click', 'become_tp');">
                    Попробовать сейчас!
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-0 col-md-offset-0 col-md-6">

            <span class="action-subheader">

                регистрация через соцсети

            </span>
        </div>
    </div>
</div>
{{{contents}}}

{{/content}}
{{/extend}}